body {
    background-color: rgb(25, 25, 48);
    }

h1 {
    text-align: center;
    color: azure;

}

p {
    text-align: center;
    color: rgb(26, 179, 179);
}

a {
    text-align: center;
    color: rgb(59, 175, 5);
}
ol {
    color: rgb(189, 141, 11);
}
h3 {
    text-align: center;
}